* {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

.wrapper-page {
  padding-top: 10%;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.video-window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}

.meter-mic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 40%;
  height: 100px;
  color: #515151;
  background-color: #fff;
  border: 2px solid #82d6b2;
  border-radius: 15px;
  box-shadow: 0px 0px 4px #000;
}

.meter-mic__meter {
  width: 200px;
}